body{
    background-color: #C3D0D7;
    margin: 0;
}

.carta{
    left: 200px;
}

p {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

img{
    margin-left: 400px;
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: black;
}

.botao {
    text-align: center;
    width: 25%;
    height: 25px;
    background-color: #F9D9D9;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
}